<h2 {% if site.style == 'dark' %}class="text-white"{% endif %} style="opacity: 0.87">Experience</h2>
<div id="vt1" style="opacity: 0.87">
    <div data-vtdate="January 2020">
        <h4 class="text-white ml-2">Esguard.io</h4>
        <p class="text-white ml-2">
            Software Engineer - Android Development
        </p>
    </div>
    <div data-vtdate="August 2019">
        <h4 class="text-white ml-2">Binary Digital</h4>
        <p class="text-white ml-2">
            Infrastructure Engineer - AWS Automation
        </p>
    </div>
    <div data-vtdate="March 2019">
        <h4 class="text-white ml-2">Fabrx Blockchain</h4>
        <p class="text-white ml-2">
            Research - Lightning Network
        </p>
    </div>
    <div data-vtdate="June 2018">
        <h4 class="text-white ml-2">Riot Blockchain</h4>
        <p class="text-white ml-2">
            Intern - Mining Pool Development
        </p>
    </div>
    <div data-vtdate="April 2017">
        <h4 class="text-white ml-2">Mobewash - Mobile Carwash App</h4>
        <p class="text-white ml-2">
            Intern - iOS Development
        </p>
    </div>
    <div data-vtdate="September 2016">
        <h4 class="text-white ml-2">Transfer to UCSD</h4>
        <p class="text-white ml-2">
            B.S. Computer Engineering
        </p>
    </div>
    <div data-vtdate="June 2016">
        <h4 class="text-white ml-2">NASA JPL</h4>
        <p class="text-white ml-2">
            Undergraduate Engineer
        </p>
    </div>
    <div data-vtdate="November 2013">
        <h4 class="text-white ml-2">NASA JPL</h4>
        <p class="text-white ml-2">
            Aerospace Scholar
        </p>
    </div>
    <div data-vtdate="June 2013">
        <h4 class="text-white ml-2">Santa Monica College</h4>
        <p class="text-white ml-2">Robotics Club, Programming Club, STEM Club, Calculus Tutor</p>
    </div>
</div><!-- End vt6 -->